In [51]:
#user input
mod_class = {"BT3103L1":7, "BT4222L1":7, "GESS1025L1":1, "QF3103L1":2, "CP2201L1":1, "BT4016L1":7}
year = 2

In [52]:
mod_class.keys()

dict_keys(['BT3103L1', 'BT4222L1', 'GESS1025L1', 'QF3103L1', 'CP2201L1', 'BT4016L1'])

In [53]:
#read csv
import numpy as np
import pandas as pd
df = pd.read_csv("testing.csv")
df = df.replace('#DIV/0!', np.inf)
df['ModClass'] = df["Mod"] + df["Class"]
filtered_df = df[df['ModClass'].isin(mod_class.keys())]
filtered_df

,Mod,Class,Rd0 TF,Rd1 TF,Rd2 TF,Rd3 TF,Rd0 rate,Rd1 rate,Rd2 rate,Rd3 rate,1st oversubscribed,ModClass
0,BT3103,L1,True,True,True,True,1.327273,1.400000,3.000000,inf,0,BT3103L1
2,BT4222,L1,False,True,True,True,0.952000,1.300000,1.222222,2.6,1,BT4222L1
6,GESS1025,L1,False,False,True,True,NaN,NaN,1.400000,5.938271605,2,GESS1025L1
7,BT4016,L1,False,False,False,False,0.800000,0.793103,0.428571,0.6666666667,4,BT4016L1
8,QF3103,L1,False,False,False,False,0.162791,0.038251,0.034091,0.02409638554,4,QF3103L1
9,CP2201,L1,False,False,False,True,0.347826,0.180645,0.902985,4.470588235,3,CP2201L1

In [55]:
filtered_df.sort_values(by=["1st oversubscribed"])

,Mod,Class,Rd0 TF,Rd1 TF,Rd2 TF,Rd3 TF,Rd0 rate,Rd1 rate,Rd2 rate,Rd3 rate,1st oversubscribed,ModClass,Adjusted oversubscribed
0,BT3103,L1,True,True,True,True,1.327273,1.400000,3.000000,inf,0,BT3103L1,0
2,BT4222,L1,False,True,True,True,0.952000,1.300000,1.222222,2.6,1,BT4222L1,1
6,GESS1025,L1,False,False,True,True,NaN,NaN,1.400000,5.938271605,2,GESS1025L1,2
9,CP2201,L1,False,False,False,True,0.347826,0.180645,0.902985,4.470588235,3,CP2201L1,3
7,BT4016,L1,False,False,False,False,0.800000,0.793103,0.428571,0.6666666667,4,BT4016L1,3
8,QF3103,L1,False,False,False,False,0.162791,0.038251,0.034091,0.02409638554,4,QF3103L1,3