In [80]:
#user input
mod_class = {"BT3103L1":7, "BT4222L1":6, "GESS1025L1":1, "QF3103L1":2, "CP2201L1":1, "BT4016L1":7}
year = 2

In [81]:
mod_class.keys()

dict_keys(['BT3103L1', 'BT4222L1', 'GESS1025L1', 'QF3103L1', 'CP2201L1', 'BT4016L1'])

In [82]:
#read csv
import numpy as np
import pandas as pd
df = pd.read_csv("testing.csv")
df = df.replace('#DIV/0!', np.inf)
df['ModClass'] = df["Mod"] + df["Class"]
filtered_df = df[df['ModClass'].isin(mod_class.keys())]
filtered_df

,Mod,Class,Rd0 TF,Rd1 TF,Rd2 TF,Rd3 TF,Rd0 rate,Rd1 rate,Rd2 rate,Rd3 rate,1st oversubscribed,ModClass
0,BT3103,L1,True,True,True,True,1.327273,1.400000,3.000000,inf,0,BT3103L1
2,BT4222,L1,False,True,True,True,0.952000,1.300000,1.222222,2.6,1,BT4222L1
6,GESS1025,L1,False,False,True,True,NaN,NaN,1.400000,5.938271605,2,GESS1025L1
7,BT4016,L1,False,False,False,False,0.800000,0.793103,0.428571,0.6666666667,4,BT4016L1
8,QF3103,L1,False,False,False,False,0.162791,0.038251,0.034091,0.02409638554,4,QF3103L1
9,CP2201,L1,False,False,False,True,0.347826,0.180645,0.902985,4.470588235,3,CP2201L1

In [83]:
filtered_df = filtered_df.sort_values(by=["1st oversubscribed"])
filtered_df = filtered_df.copy()
filtered_df["A"] = filtered_df["ModClass"].map(mod_class)
# Adjust the '1st oversubscribed' value to max round (3) if it exceeds it
max_round = 3
filtered_df['Adjusted oversubscribed'] = filtered_df['1st oversubscribed'].apply(lambda x: min(x, max_round))

# Create a secondary sorting column based on the adjusted oversubscription
filtered_df['Sort rate'] = filtered_df.apply(lambda row: row[f'Rd{row["Adjusted oversubscribed"]} rate'], axis=1)
sorted_df = filtered_df.sort_values(by=['1st oversubscribed', 'A', 'Sort rate'], ascending=[True, False, False])
sorted_df

,Mod,Class,Rd0 TF,Rd1 TF,Rd2 TF,Rd3 TF,Rd0 rate,Rd1 rate,Rd2 rate,Rd3 rate,1st oversubscribed,ModClass,A,Adjusted oversubscribed,Sort rate
0,BT3103,L1,True,True,True,True,1.327273,1.400000,3.000000,inf,0,BT3103L1,7,0,1.327273
2,BT4222,L1,False,True,True,True,0.952000,1.300000,1.222222,2.6,1,BT4222L1,6,1,1.3
6,GESS1025,L1,False,False,True,True,NaN,NaN,1.400000,5.938271605,2,GESS1025L1,1,2,1.4
9,CP2201,L1,False,False,False,True,0.347826,0.180645,0.902985,4.470588235,3,CP2201L1,1,3,4.470588235
7,BT4016,L1,False,False,False,False,0.800000,0.793103,0.428571,0.6666666667,4,BT4016L1,7,3,0.6666666667
8,QF3103,L1,False,False,False,False,0.162791,0.038251,0.034091,0.02409638554,4,QF3103L1,2,3,0.02409638554

In [85]:
#Rd1
sorted_df[sorted_df["A"] > 1]["Mod"]

0    BT3103
2    BT4222
7    BT4016
8    QF3103
Name: Mod, dtype: object